<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a [routerLink]="['']">
            <img class="seta" src="assets/seta.png" alt="seta">
        </a>
    </span>
</mat-toolbar>

<div class="well bg-white box-login alt">
    <h1 class="title-group"><strong>Login<br><br></strong></h1>
    <form role="form">
        <fieldset>

            <div>
                <label for="userLogin">Endereço de Email:</label>
                <input class="form-control ls-login-bg-user input-lg" type="text" placeholder="Digite o seu email">
                <a><br></a>
            </div>
            <div>
                <label for="userPassword">Senha:</label>
                <input class="form-control ls-login-bg-password input-lg" type="password" placeholder="Senha">
                <a><br></a>
            </div>
            <div>
                <input type="submit" value="Login" class="btn btn-primary btn-lg btn-block est" routerLink="/dashboard">
            </div>
            <div>
                <br>
                <button class="buton" routerLink="/registrar">
                    <img class="c" src="assets/40358.png" alt="seta">
                    <strong> Não tenho registro</strong>
                    <a [routerLink]="['registrar']"></a>
                </button>

            </div>

        </fieldset>
    </form>
</div>