.header{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.header .seta{
    max-height: 45px;
}
.alt{
    position: absolute;
    margin-top: 50px;
    margin-left: 500px;
    width: 400px;
    height: 400px;
    
}
.title-group{
    padding-left: 150px;
}
.est{
    padding: 6px 174px;
}
.buton{
    padding: 6px 110px;
    background-color: rgb(165, 161, 161);
    color: black;
    border: none;
    font-size: 19.5px;
    text-align: center;
    border-radius: 4px;
}
.c{max-height: 29px;}


