.header{
    display: flex;
    align-items: center;
    background-color: rgb(106, 163, 196);
}
.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header .logo{
    max-height: 45px;
}
.header .title-group{
    padding-left: 50px;
}
.header .title-group1{
    padding-left: 50px;
}
.header .title-group2{
    padding-left: 1000px;
}


.plano-fundo{
    width: 100%;
    height: 89%;
    position:absolute;
}
#chamada{
    position: absolute;
    font-size: 64px;
    left: 210px;
    top: 135px;
}
#chamada1{
    position: absolute;
    font-size: 32px;
    left: 250px;
    right: 250px;
    top: 300px;
}


.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(106, 163, 196);
}
.footer span{
    font-size: 0.8rem;
    color: white;
}