<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/dashboard">
            <img class="seta" src="assets/seta.png" alt="seta">
        </a>
    </span>
</mat-toolbar>
<div class="well bg-white alt">
    <h1 class="title-group"><strong>Canal</strong></h1>
    <form role="form">
        

            <div>
                <label for="userName">Nome</label>
                <input class="form-control" type="text"  placeholder="Digite o nome do Canal">
                <a><br></a>
            </div>
            <div>
                <label for="userType">Tipo</label>
                <input class="form-control" type="password" placeholder="Selecione o tipo">
                <a><br></a>
            </div>
            <div>
                <label for="userHistoric">Historico</label>
                <input class="form-control " type="text" placeholder=" ">
                


                <label for="userPublish">Publish</label>
                <input class="form-control " type="text" placeholder=" ">
                
                <label for="userSubscriber">Subscriber</label>
                <input class="form-control " type="text" placeholder=" ">
                <a><br></a>
            </div>
            <div>
            <input type="submit" value="Salvar" class="btn btn-primary btn-lg btn-block est" routerLink="/dashboard">
            </div>

        
    </form>
</div>