<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/PPO/src/app/dashboard">Dashboard</a>
      <a mat-list-item href="#">Meus brocks</a>
      <a mat-list-item href="#">Meus canais</a>
      <a mat-list-item href="#">Meus Dispositivos</a>
      <a mat-list-item href="#">Meus Grupos</a>
      <a mat-list-item href="#">Meus Meus Topicos</a>
      <a mat-list-item href="#">Meus Dispositivos</a>
      <a mat-list-item href="#">Historicos</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PPO</span>
    </mat-toolbar>
    <router-outlet>

    </router-outlet>
    <app-dashboard></app-dashboard>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>y