<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/dashboard">
            <img class="seta" src="assets/seta.png" alt="seta">
        </a>
    </span>
</mat-toolbar>
<div class="well bg-white alt">
    <h1 class="title-group"><strong>Grupo</strong></h1>
    <form role="form">
        

            <div>
                <label for="userConection">Nome</label>
                <input class="form-control" type="text"  placeholder="Digite o nome do grupo">
                <a><br></a>
            </div>
            
            <div>
            <input type="submit" value="Salvar" class="btn btn-primary btn-lg btn-block est" routerLink="/dashboard">
            </div>

        
    </form>
</div>