
<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img class="logo" src="assets/img.png" alt="logo">
        </a>
    </span>
    <span class="title-group2"><a>Sobre</a></span>
    <span class="title-group1"><a>Ajuda</a></span>
    <span class="title-group">
       <a [routerLink]="['login']">Login</a>
    </span>
   
</mat-toolbar>

<!--body-->

<img class="plano-fundo" src="assets/plano.jpg">
    <label id="chamada">
        <strong>Agora será mais fácil gerenciar<br><br><br> <br>os seus dispositivos IoT.</strong><br><br>
    </label>
    <label id="chamada1">
        <br>Uma poderosa ferramenta para gerenciar qualquer <br><br>tecnologia IoT de forma prática e fácil.
    </label>


<mat-toolbar class="footer">
    <span>

        ©2022  Plataforma IOT todos os direitos resevados. <br>
        by: Allysson H. ,Bruno H. ,Charles V. 
    </span>
</mat-toolbar>